.nav ul{
    list-style: none;
    text-align: center;
    /* background-color: rgb(5, 4, 2); */
    background-image: url('img/soccer field background 1003.jpg');
    padding: 0%;
    margin: 0%;
}
  
.nav li{
    display: inline-block;
    background-color: #050505;
    
}  

.nav a{
    color: white;
    text-decoration: double;
    width: 230px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.contenedor{
    display: grid;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.producto{
    text-align: center;
}

.producto img{
    width: 15%;
    height: auto;
}

.producto p{
    margin: 15px 0;
    color: #ffffff;
    font-family:'Montserrat', sans-serif;
}

.producto button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.producto button:hover{
    background-color: #2f9534;
}  


h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url(Imagenes/Fondo\ Tienda.jpg)
    
}

header{
    background-color: white;
}
